
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face registration</title>
</head>

<div>
    <h2>Vui lòng tải ảnh lên với định dạng .jpg và .png</h2>
    <h2>Vui lòng đặt đúng tên để hệ thống có thể xác nhận</h2>
    <h2>Ví dụ: Phúc.jpg(.png) thì đặt tên file là Phuc.jpg(.png)</h2>
</div>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="imageUpload">Chọn ảnh để tải lên:</label>
        <input type="file" name="imageUpload" id="imageUpload" accept="image/*">
        <br>
        <input type="submit" value="Tải lên">
    </form>

    <!-- Thêm mã JavaScript để cập nhật trang khi tải ảnh lên thành công -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                // Tạo đối tượng FormData để gửi file
                const formData = new FormData(form);

                // Gửi request POST đến địa chỉ /upload
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        // Nếu tải ảnh lên thành công, cập nhật trang hoặc hiển thị thông báo
                        alert('Tải ảnh lên thành công!');
                        // Cập nhật trang hoặc thực hiện các hành động khác tùy ý
                    } else {
                        alert('Đã xảy ra lỗi khi tải ảnh lên.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>

